extends layout.pug 

block content 
    p seat: #{seat}
    p minimum: #{min}
    p maximum: #{max}
    br
    form(action=`/games/${gameID}/leave`, method='post')
        button(type='submit') Leave 
    br
    form(action='/home', method='get')
        button(type='submit') games
    br
    div(id=`${gameID}-System`) System
    br
    div(id='players-icon-container') Players
    br
    div(id='community-cards-container') Community
    br
    div(id='player-cards-container') Player
    br
    div(id='player-actions-container') Actions

    script(src='/scripts/gameSocket.bundle.js', defer)