extends layout.pug 

block content 
    form(action=`/games/${gameID}/leave`, method='post')
        button(type='submit') Leave 
    br
    form(action='/home', method='get')
        button(type='submit') games
    br
    p seat: #{seat} out of : #{plimit}
    form(id='seatValue')
        input(type='hidden', name='seatVal',value=`${seat}`)
    p minimum: #{min}
    p maximum: #{max}
    br
    div(id='System') System
    br
    div(id='Lobby') Lobby: #{players_in_game}
    br
    div(id='Players') Players: #{players_alive}
    br
    div(id='Community') Community: #{community}
    br
    div(id='Pot') Pot: #{pot}
    br
    div(id='Hand') Your hand: #{hand}
    br
    div(id='Chips') Chips at play: #{chips}
    br
    div(id='Actions') Actions
        if seat == 1 && hand == ''
            form(action = `/games/${gameID}/create`, method='post')
                button(type='submit') Pay Small Blind
    
    button(id='testButton') Test

    script(src='/scripts/gameSocket.bundle.js', defer)