extends layout.pug 

block content 
    form(action=`/games/${gameID}/leave`, method='post')
        button(type='submit') Leave 
    br
    form(action='/home', method='get')
        button(type='submit') games
    br
    p seat: #{seat} out of : #{plimit}
    p minimum: #{min}
    p maximum: #{max}
    br
    div(id=`${gameID}-System`) System
    br
    div(id=`${gameID}-Players-in-game`) Lobby: #{players_in_game}
    br
    div(id=`${gameID}-Players-alive`) Players: #{players_alive}
    br
    div(id=`${gameID}-Community-cards`) Community: #{community}
    br
    div(id=`${gameID}-Pot`) Pot: #{pot}
    br
    div(id=`${gameID}-Player-cards`) Your hand: #{hand}
    br
    div(id=`${seat}-${gameID}-Actions`) Actions

    script(src='/scripts/gameSocket.bundle.js', defer)