html 
    head 
        title Game 

    body 
        h1 #{name}
        p seat: #{seat}
        p minimum: #{min}
        p maximum: #{max}

        form(action=`/games/${gameID}/leave`, method='post')
            button(type='submit') Leave 
        form(action='/home', method='get')
            button(type='submit') games

        