html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/home.css')
    script(src="/scripts/homeJS.js")

  body 
    form(action='/home/logout', method='post')
      button(type='submit') Log Out 
    
    h1 Game Table
    table
      thead
        tr
          th Minimum
          th Maximum
          th Players
      tbody
        each game in games
          tr(id=game.id, onclick=`handleGameOnClick(event)`)
            td= game.minimum
            td= game.maximum
            td= game.playerCount
            
  