html
  head
    title #{title}
    link(rel='stylesheet' href='/stylesheets/lobby.css')

  body
    <div id="header">
      <a href=/home id="logo-link">Texas Hold'em Poker</a>
      <div>
        <form action='/home/logout' method='post'>
          <button type='submit' id="logout"> Log Out </button>
        </form>
      </div>
    </div>
    
    <div id="game-rooms">
      h1 Welcome #{username}
      p Current Balance: #{wallet}

      h1 Game Table
      table
        thead
          tr
            th Name
            th Minimum
            th Maximum
            th Players
            th Limit
        tbody
          each game in games
            tr(id=game.id, onclick=`handleGameOnClick(event)`)
              td= game.name
              td= game.minimum
              td= game.maximum
              td= game.count
              td= game.plimit
      
      h1 Personal Games
      table 
        thead 
          tr
            th Name
            th Minimum
            th Maximum
            th Players
            th Limit
        tbody
          each pgame in pgames
            tr(id=pgame.id, onclick=`handleGameOnClick(event)`)
              td= pgame.name
              td= pgame.minimum
              td= pgame.maximum
              td= pgame.count
              td= pgame.plimit
        
      form(action='/home/createTable', method='get')
        button(type='submit') Create Table
    </div>  

    <div id="lobby-chat-container">
        <div id="lobby-messages"></div>
        <label>
          <textarea id="lobby-chat-input" name="lobby-chat-message" placeholder="Message..."></textarea>
        </label>
    </div>



    script(src='/scripts/gameTable.js')
    script(src="/scripts/bundle.js")
